.custom-font-16px { 
    font-family: 'Dosis', sans-serif, Tahoma;
    font-size: 16px;
}
.custom-font-16px-alt { 
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}
.custom-font-20px { 
    font-family: 'Dosis', sans-serif, Tahoma;
    font-size: 20px;
}
.custom-font-20px-alt { 
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}
.custom-font-25px { 
    font-family: 'Dosis', sans-serif, Tahoma;
    font-size: 20px;
}
.custom-font-35px {
    font-family: 'Dosis', sans-serif, Tahoma;
    font-size: 35px;
}
.custom-font-45px {
    font-family: 'Dosis', sans-serif, Tahoma;
    font-size: 45px;
}
.navbar-bg-color {
    background-color: #000324;
    position: relative; 
    top: 0;
}
.navbar-text-color {
    color: white;
}
.price-text-color {
    color: #1F51A8;
}
.package-text-bold {
    font-weight: bold;
}
.logo-img {
    text-align: center;
}

.header-img {
    width: 100%; 
    height: 500px; 
    object-fit: cover;
}

.header-overlay {
    padding: 0; 
    color: #E5FEFF;
    height: 100%;
    width: 100%;
}

.overview-text {
    color: #1A1B26;
}

.header-rectangle {
    background-color: #000324;
    opacity: 80%;
    color: white;
    width: 900px;
    height: 230px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #4388ff;
}
a:link:active {
    border: 1px solid white;
}

.reserve-rectangle {
    background-color: #000324;
    width: 100%;
    height: 200px;
    color: white;
    margin: auto;
}

.footer-container {
    background-color: #000324;
    width: 100%;
    height: 300px;
}

.reserve-rectangle-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.overview-container {
    background-image: url('../assets/header.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-y: -410px;
}

.award-img {
    width: auto; 
    height: 128px;
}

.room-container {
    background-image: url('../assets/bg2.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.packages-container img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.amenities-container {
    background-image: url('../assets/bg.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.amenities-container img {
    width: auto;
    height: 128px;
}

.hamster-wheel-logo-img {
    width: 100%;
}

@media screen and (max-width: 800px){
    .hamster-wheel-logo-img {
        width: 25%;
    }
}